$main-font: 'Quantico', sans-serif;
$side-font: 'Marvel', sans-serif;

#aboutme p, .description {
	font-family: Trebuchet MS, sans-serif;
}

h2 {
	font-family: $side-font;
}

nav {
	background: url('img/background/congruent_outline.png');
	height: 100%;
	text-align: center;
	z-index: 10;
	padding: 20px;
	a {
		font-family: $side-font;
		color: white;
		font-size: 1.4em;
		line-height: 2em;
		&:hover {
			color: mediumaquamarine;
			text-decoration: none;
		}
	}
	#logo {
		margin-top: 10px;
		width: 80%;
		height: 180px;
		border: 1px solid white;
		line-height: 180px;
		a {
			color: white;
			font-size: 2.5em;
			width: 100%;
			font-family: $main-font;
			display: inline-block;
  			vertical-align: middle;
  			line-height: 1em;
  			padding: 20px;
  			border-top: 1px solid #B2E6D4;
  			border-bottom: 1px solid #B2E6D4;
  			background-color: rgba(255,255,255,0.2);
		}
		
	}
	#quote {
		margin-top: 1em;
		color: mediumaquamarine;
		font-size: 1.2em;
		font-family: $side-font;
	}
	.nav-links {
		margin-top: 2em;
	}
}

.content {
	padding: 20px;
}

#aboutme p {
	border-left: 2px solid darkgrey;
	padding-left: 1em;
	padding-right: 1em;
}

#contact {
	text-align: center;

	h2 {
		font-size: 2em;
		text-align: left;
	}

	a {
		font-family: $main-font;
		font-size: 1.1em;
		color: black;
		&:hover {
			color: black;
		}
	}
	#github {
		float: right;
	}
	img {
		height: 1.4em;
		vertical-align: text-top;
	}
}

.project-description {
	.project {
		h3 {
			text-align: center;
			background-color: rgba(0,0,0,0.3);
			color: white;
			font-family: $side-font;
			margin: 0;
		}
		img {
			width: 100%;
		}
	}
	.description {
		margin-top: 1em;
		margin-bottom: 2em;
		a {
			color: mediumaquamarine;
			&:hover {
				color: #31915C;
			}
		}
	}
}