<section class="about">
	<p>I am a senior machine learning engineer at Discord specializing in recommmendation systems, rankers, NLP, and LLMs. I was previously an Applied Scientist at Microsoft (Bing search and knowledge graph). I have experience in navigating ambiguous problems and leading teams to solve software engineering and applied machine learning challenges. I hold a BS in Computer Science and Engineering from UCLA and MS in Machine Learning from San Jose State University.</p>
</section>
