---
---

@import "base";

.project-card {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 20px;
	line-height: 1.4;
	.title {
		font-size: 24px;
	}
	.image {
		width: 100%;
	}
	.description {
		font-size: 18px;
	}
	code {
		font-family: 'Share Tech Mono', monospace;
		font-size: 16px;
	}
}